header {
    height: 6rem;
    width: 100Vw;
    display: grid;
    background: var(--color-primary);
    place-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.nav-toggle {
    display: none;
}



.nav-links {
    display: flex;
    gap: 3rem;
    align-items: center;
}

.nav-links a {
    transition: var(--transition);
}

.nav-links a:hover {
    background: transparent;
    border: 1px solid var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}

a.active {
    background: transparent;
    border: 1px solid var(--color-white);
    padding: 0.5rem 1rem;
    border-radius: 0.4rem;
}



/* Responsiveness for tablets*/

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
    }

    section {
        margin-top: 6rem;
    }
} 



/* Responsiveness for phones*/

@media screen and (max-width: 650px) {
    .container {
        width: var(--container-width-sm);
    }

    section > h2 {
        margin-bottom: 2rem;
    }
} 