
@import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

:root {
    --bg-color-light: #dbf9f0;
    --bg-color-dark: #A3BBAD;
    --color-primary: rgb(42, 20, 92);
    --color-purple: #7180b9;
    --color-gold: rgb(192, 152, 57);
    --color-gold-variant: rgba(241, 173, 14, 0.6);
    --color-light: #6F5E53;
    --color-black: #000000 ;
    --color-white: #f7f9f7;

    --font-regular: 400;
    --font-medium: 500;
    --font-bold: 600;

    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-sm: 90%;

    

    --transition: all 400ms ease;   
    
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Lora', serif;
    overflow-x: hidden;
    background: var(--bg-color-light);
    line-height: 1.7;
}

h1, h2, h3, h4, h5 {
    line-height: 1.2;
    color: var(--color-white);
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

a {
    color: var(--color-white);
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

.container {
    width: var(--container-width-lg);
    max-width: 1920px;
    margin-inline: auto;
}


.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-gold);
    padding: 0.8rem 1.2rem;
    border-radius: 0.5rem;
    cursor: pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: transparent;
    color: var(--color-primary);
    border: transparent;
    transform: scale(1.1);
}

.btn-primary {
    background: var(--color-purple);
    color: var(--color-black);
    padding: 0.7rem 1rem;
    border-radius: 0.4rem;
    
}

.button {
    color: var(--title-color);
    font-weight: var(--font-medium);
    display: inline-flex;
    align-items: center;
    column-gap: 0.5rem;
}


/* responsiveness  */

@media (max-width:768px) {
    html {
        font-size: 50%;
    }
}