.new-container {
    row-gap: 2.5rem;
    padding-bottom: 1.5rem;

}

.new-card {
    justify-self: center;
}

.new-img {
    width: 270px;
    margin-bottom: 1rem;
}

.new-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 0.75rem;
    color: var(--title-color);
}

.new-link .new-icon {
    font-size: 1.25rem;
    transition: 0.3s;
}

.new-link .new-icon:hover {
    border-radius: 50%;
    padding: 0.4rem;
    background-color: purple;
    font-size: 2rem;
}

.new-title {
    font-size: var(--h2-font-size);
    margin-bottom: 0.5rem;
}